h1, h3{
color: white;
}
body{
    background-color: black;
    font-size: 22px;
}
  
  @media (max-width: 600px) {
    body {
      font-size: 14px;
      background-color: red;
    }
  }

  @media (min-width: 601px) and (max-width: 1024px) {
    body {
      font-size: 15px;
      background-color: green;
    }
  }
  